*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main-content{
    width: 100vw;
    height: 100vh;  
    background-image: url("p.jpg");
    background-size:cover;
}
.header{
    display: block;
    width: 100vw;
    padding: 10px 5px;
}
.logo {
    display: block;
    width: 25%;
    font-size: 27px;
    color: white;
    float: left;
    text-align: center;
    margin-top: 28px;
}
.logo:hover{
    background-color: skyblue;
    color: black;
}
.navbar {
    display: block;
    width: 75%;
    float: right;
    font-size: 25px;
    margin: 0px;
}
.navbar ul{
    display: block;
    float: right;
}
.navbar ul li {
    display: block; 
    position: relative;
    float: left;
}
.navbar ul li a{
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}
.dropdown_class{
    width: 200px;
    position: absolute;
    left:auto;
    background-color: #080808;
}
.dropdown_class ul {
    padding: 0px;
    width: 100%;
}
.dropdown_class ul li {
    list-style: none;
    width: 100%;
    display: block;
}
.dropdown_class ul li a {
    width: 100%;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    color: #fff;
}
.dropdown_class ul li a:hover {
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
}
#text{
    display: inline-block;
    float:right;
    margin: 80px 50px;
    text-align: center;
}
#text h1{
    color: blue;
}
.text1{
    margin: 10px;
    color: blue;
}
.btn{
    border: 1px solid black ;
    background-color:red;
    color: white;
    width: 90px;
    padding: 5px;
    margin: 30px;
    margin-left: 60px;

}
.login{
    border: 1px solid black;
    width: 20vw;
    height: 45vh;
    margin: 50px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}
.login-box{
    margin: 10px 0px;
}
.login-box .p1{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.login-box .p2 a{
    color: black;
}
.log_in{
    height:40px ;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid rebeccapurple;
    padding: 0px;

}
.login-box .text3{
    display: block;
    border-radius: 5px;
    border: 1px solid white ;
    padding: 5px;
    
}
.login-box .text4{
    display: block;
    border-radius: 5px;
    border: 1px solid white ;
    padding: 5px;
}
.login-box .text4 a{
    margin: 5px;
}
.navbar ul li a:hover{
    background-color:skyblue;
    color: black;
}
.login_btn{
   
   background-color: green;
   color: white; 
   width: 60px;
   border-radius: 5px;
}
.login_btn:hover{
    background-color: aquamarine;
    color: black;
}
.login-box .p2{
    margin-top: 10px;
    font-weight: bolder ;
}

footer p{
    display: block;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color:white;
}






